<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h2 class="h2">02 : Trabajos y Proyectos</h2>
          <p>
            Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies,
            nisl nunc pulvinar ligula, id sodales arcu sapien in nisi. Quisque
            libero enim, mattis non augue posuere, venenatis dapibus urna.
          </p>
        </div>
      </div>

      >
      <section>
        <div>
          <!-- Experiencia 1 -->
          <article class="grid grid-cols-1 md:grid-cols-5 gap-4">
            <!-- Empresa y Descripción -->
            <div class="relative md:col-span-2">
              <span
                class="text-gf-yellow absolute -left-[42px] rounded-full text-5xl"
                aria-hidden="true"
                >&bull;</span
              >
              <h3 class="text-center mb-4">Experiencia Laboral</h3>
              <section>
                <h4 class="text-2xl font-bold text-gf-yellow">Brothapps</h4>
                <p class="text-md text-gray-400 italic">
                  <time datetime="2021-10">Octubre 2021</time> -
                  <time datetime="2024-02">Febrero 2024</time>
                </p>
                <p class="text-md text-gray-400 italic">
                  Actual: <span class="text-gf-yellow">No</span>
                </p>
              </section>
              <p class="text-sm text-gray-200">
                Empresa de diseño y desarrollo de productos y soluciones
                digitales.
              </p>
            </div>
            <!-- Detalles y habilidades -->
            <div class="relative md:col-span-3">
              <ul
                class="list-disc flex flex-col gap-1 pb-4 text-sm text-gray-200"
              >
                <li>
                  Participé en el equipo de creación y desarrollo del front-end
                  de una web app de inicio a fin ayudando a su desarrollo y
                  mejora en sus iteraciones con Next.js.
                </li>
                <li>
                  Desarrollo y mantenimiento de diferentes interfaces de
                  administración de productos digitales.
                </li>
                <li>
                  Integración de servicios de tercero en el front-end en
                  diferentes proyectos de web apps como Firebase Realtime DB,
                  Firestore o Stripe.
                </li>
                <li>
                  Refactorización de código ya existente para hacerlo más
                  escalable, mantenible y óptimo en rendimiento y legibilidad.
                </li>
                <li>
                  Desarrollo de landing pages con el framework Astro, aplicando
                  buenas prácticas y metodología BEM.
                </li>
              </ul>
              <p class="text-md text-gray-400 font-semibold">Habilidades:</p>
              <ul
                class="list-disc flex flex-col gap-1 pb-4 text-sm text-gray-200"
              >
                <li>Next.js</li>
                <li>Firebase</li>
                <li>Astro</li>
                <li>Metodología BEM</li>
              </ul>
            </div>
          </article>
        </div>
      </section>

      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide projects-carousel">
          <!-- Carousel items -->
          <h3 class="text-center mb-4">Proyectos</h3>
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-4">
                  <a
                    href="./work.html"
                    title=""
                    class="black-image-project-hover"
                  >
                    <img
                      src="images/work01-hover.jpg"
                      alt=""
                      class="img-responsive"
                    />
                  </a>
                  <div class="card-container card-container-lg">
                    <h4>001/006</h4>
                    <h3>Fringilla sit amet</h3>
                    <p>
                      Nulla facilisi. Vivamus vestibulum, elit in scelerisque
                      ultricies.
                    </p>
                    <a
                      class="btn btn-default"
                      href="https://github.com/jccastaneda0201"
                      target="_blank"
                      aria-label="GitHub"
                      >Descubrir
                      <fa-icon [icon]="['fab', 'github']"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
              <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
              <div class="row">
                <div class="col-sm-4">
                  <a href="./work.html" class="black-image-project-hover">
                    <img
                      src="images/work02-hover.jpg"
                      alt="Image"
                      class="img-responsive"
                    />
                  </a>
                  <div class="card-container">
                    <h4>004/006</h4>
                    <h3>Nulla scelerisque</h3>
                    <p>
                      Proin pharetra metus id iaculis dignissim. In aliquet
                      lorem ut ex ullamcorper.
                    </p>
                    <a
                      class="btn btn-default"
                      href="https://github.com/jccastaneda0201"
                      target="_blank"
                      aria-label="GitHub"
                      >Descubrir
                      <fa-icon [icon]="['fab', 'github']"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
              <!--/row-->
            </div>

            <!--/item-->
          </div>
          <!--/carousel-inner-->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"
            >‹</a
          >

          <a class="right carousel-control" href="#myCarousel" data-slide="next"
            >›</a
          >
        </div>

        <!--/myCarousel-->
      </div>
    </div>
  </div>
</div>
