<div class="footer">
  <div class="footer-container text-center">
    <div class="container">
      <div class="footer-rrss">
        <a
          href="https://www.instagram.com"
          target="_blank"
          aria-label="Instagram"
        >
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a
          href="https://www.linkedin.com/in/jccastanedacamargo/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
        <a
          href="https://github.com/jccastaneda0201"
          target="_blank"
          aria-label="GitHub"
        >
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
      </div>
      <div class="row-footer">
        <div class="col-xs-12">
          <p class="footer-text">
            Diseñado y desarrollado por Juan Castaneda Dev ©2025
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
