.footer-rrss {
  display: flex;
  gap: 3rem;
  justify-content: center;

  a {
    display: flex;
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    fa-icon {
      font-size: 5rem !important;
    }
  }
}

.row {
  p {
    font-size: 1.5rem !important;
  }
}
